{% extends 'student/base.html' %}
{% block student %}

<div class="col-lg-8">
    <div class="card">
       <div class="card-header bg-primary">
            <strong class="card-title" style="color:white">FEE </strong>
        </div>
        <div class="card-body">
            {% for fee in fees %}
             <div class="form-group">
                <div class="row">
                    <div class="col-lg-4">
                        <label>From Date</label>
                    </div>
                    <div class="col-lg-8">
                        <label> :{{fee.from_date}}</label>
                    </div>
                </div>
            </div>
             <div class="form-group">
                <div class="row">
                    <div class="col-lg-4">
                        <label>To Date</label>
                    </div>
                    <div class="col-lg-8">
                        <label> :{{fee.to_date}}</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-4">
                        <label>Room Rent</label>
                    </div>
                    <div class="col-lg-8">
                        <label> :Rs. {{fee.room_rent}}</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-4">
                        <label>Mess Bill</label>
                    </div>
                    <div class="col-lg-8">
                        <label> :Rs. {{fee.mess_bill}}</label>
                    </div>
                </div>
            </div>


             <div class="form-group">
                <div class="row">
                    <div class="col-lg-4">
                        <label>Total</label>
                    </div>
                    <div class="col-lg-8">
                        <label> :Rs. {{fee.get_total}}</label>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="row">
                    <div class="col-lg-4">
                        <label></label>
                    </div>
                    <div class="col-lg-8">
                        <label>
                            {% if fee.status == False %}
                            <a href="{% url 'do_payment' fee.id %}" class=" btn btn-info" type="submit">PAY</a></label>
                        {% else %}
                        <button class="btn btn-success">FEE PAID</button>
                        {% endif %}
                    </div>
                </div>
            </div>




        </div>


        {% empty %}
        <h2>No Pending Fee</h2>
        {% endfor %}
    </div>
</div>



{% endblock %}