{% extends 'student/base.html' %}
{% block student %}

<div class="col-sm-8 col-xl-6">
                            <div class="card" style="height:200px">
                                <div class="card-heading p-4">
                                    <div class="mini-stat-icon float-right">

                                    </div>
                                    <div>
                                        <h5 class="font-16">Welcome {{request.user.student}}</h5>
                                    </div>
                                    <h3 class="mt-4"></h3>


                                </div>
                            </div>
                        </div>
{% endblock  %}

